---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About",
	description: "Andrei Calazans's about page.",
	slug: "/about",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>

		<p class="text-lg font-medium">
			I build <span class="font-bold text-blue-600">cross-platform software</span> with a focus on <span
				class="font-bold text-green-500">React</span
			> and <span class="font-bold text-purple-500">React Native</span>.
		</p>

		<p>
			Over the past five years, I've worked in various industries building front-end apps, back-end
			services, and mobile apps. My experience ranges from <span class="font-bold text-yellow-700"
				>enterprise software</span
			> to <span class="font-bold text-pink-500">streaming video</span>.
		</p>

		<p>
			I've contributed to projects of all sizes, from <span class="font-bold text-yellow-500"
				>early stage startups</span
			> to <span class="font-bold text-blue-800">large corporations</span> like Peloton and A&E.
		</p>

		<p>
			Beyond coding, I enjoy <span class="font-bold text-green-700">reading</span> and <span
				class="font-bold text-orange-500">writing</span
			>. I maintain a personal knowledge base to capture insights.
		</p>

		<p>
			Although my background is in <span class="font-bold text-orange-900">civil engineering</span>,
			and I got <span class="font-bold text-red-300"
				>post graduate degree in software engineering</span
			>. I'm still largely self-taught when it comes to software. I believe in the power of online
			learning.
		</p>

		<p>
			I'm originally from Brazil, so I speak English, Portuguese and some Spanish. Outside of work,
			I enjoy basketball, soccer and Formula 1. I'm also a proud father.
		</p>
	</div>
</PageLayout>
