---
export const prerender = false;
let didSubmit = false;
const api =
	"https://firestore.googleapis.com/v1/projects/personal-site-dae64/databases/(default)/documents/emails";

if (Astro.request.method === "POST") {
	try {
		didSubmit = true;
		const data = await Astro.request.formData();
		const email = data.get("email");
		await fetch(api, {
			method: "post",
			body: JSON.stringify({
				fields: {
					email: { stringValue: email },
				},
			}),
		});
	} catch (error) {
		if (error instanceof Error) {
			console.error(error.message);
		}
	}
}
---

<div
	class="bg-card text-card-foreground rounded-lg border shadow-sm"
	style="width:100%;max-width:40rem;margin:auto;box-shadow:0 4px 6px 0 hsla(0, 0%, 0%, 0.07);overflow:hidden"
	data-v0-t="card"
>
	<div class="flex flex-col space-y-1.5 px-6">
		<p style="">Add your email to be notified when this course and book becomes available</p>
	</div>
	<div class="p-6" style="padding:1rem">
		{didSubmit && <p>Submitted!</p>}

		{
			!didSubmit && (
				<form method="POST" style="display:flex;align-items:center;gap:1rem">
					<input
						type="email"
						name="email"
						class="border-input bg-background ring-offset-background placeholder:text-muted-foreground focus-visible:ring-ring focus-visible:ring-offset-2 flex h-10 w-full rounded-md border px-3 py-2 text-sm file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-2 disabled:cursor-not-allowed disabled:opacity-50"
						placeholder="Enter your email"
						style="width:100%;padding:0.75rem 1rem;border:1px solid #d1d5db;border-radius:0.375rem;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.05);outline:none"
					/>
					<button
						class="ring-offset-background focus-visible:ring-ring focus-visible:ring-offset-2 bg-primary text-primary-foreground hover:bg-primary/90 inline-flex h-10 items-center justify-center rounded-md px-4 py-2 text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 disabled:pointer-events-none disabled:opacity-50"
						style="animation:bounce 1s infinite"
					>
						Notify Me
					</button>
				</form>
			)
		}
	</div>
</div>
