---
import type { MarkdownHeading } from "astro";

import { generateToc } from "src/utils/generateToc";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: Array<MarkdownHeading>;
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<aside class="sticky top-20 order-2 -me-32 hidden h-[75vh] basis-64 overflow-auto lg:block">
	<h2 class="text-xs font-semibold uppercase tracking-[0.12em] text-textColor/50">
		On this page
	</h2>
	<ul class="mt-4 space-y-0.5 border-s border-textColor/10 ps-3 text-xs">
		{toc.map((heading) => <TOCHeading heading={heading} />)}
	</ul>
</aside>
