---
import type { TocItem } from "@/utils";

interface Props {
	heading: TocItem;
}

const {
	heading: { slug, text, depth, subheadings },
} = Astro.props;
---

<li class={`${depth > 2 ? "ms-3" : ""}`}>
	<a
		class={`block line-clamp-2 py-1 leading-snug text-textColor/70 transition-colors hover:text-accent ${depth <= 2 ? "" : "text-[0.6875rem] text-textColor/55"}`}
		href={`#${slug}`}
		aria-label={`Scroll to section: ${text}`}>{text}</a
	>
	{
		!!subheadings.length && (
			<ul>
				{subheadings.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
